services:
  starrocks:
    image: starrocks/allin1-ubuntu
    container_name: starrocks
    ports:
      - "9030:9030"
      - "8030:8030"
      - "8040:8040"
    volumes:
      - ./starrocks/fe-meta:/opt/starrocks/fe/meta
      - ./starrocks/fe-log:/opt/starrocks/fe/log
      # Storage for BE
      - ./starrocks/be-storage:/opt/starrocks/be/storage
      - ./starrocks/be-log:/opt/starrocks/be/log
    restart: always